[submodule "package/devmet-tests"]
	path = package/devmet-tests
	url = git@github.com:NearCult/DevMet-test.git
[submodule "package/devmet-ui"]
	path = package/devmet-ui
	url = git@github.com:NearCult/DevMet-ui.git
[submodule "apps/devmet-backend"]
	path = apps/devmet-backend
	url = git@github.com:NearCult/DevMet-backend.git
[submodule "apps/devmet-apps"]
	path = apps/devmet-apps
	url = git@github.com:NearCult/DevMet-app.git
