[submodule "apps/devmet-app"]
	path = apps/devmet-app
	url = https://github.com/NearCult/dev-met.git
[submodule "package/devmet-tests"]
	path = package/devmet-tests
	url = https://github.com/NearCult/DevMet-test.git
[submodule "package/devmet-ui"]
	path = package/devmet-ui
	url = https://github.com/NearCult/DevMet-ui.git
[submodule "apps/devmet-backend"]
	path = apps/devmet-backend
	url = https://github.com/NearCult/DevMet-backend.git
